<ul class="resource-list list-group mb-3">
    <li [ngClass]="{'is-active':activeId === resource._id}" (click)="handleResourceSelect(resource)"
        *ngFor="let resource of resources; let i = index;"
        class="list-group-item resource-list-item d-flex justify-content-between lh-condensed">
        <div>
            <h6 class="my-0">{{resource.title}} {{i}}</h6>
            <small class="text-muted">{{resource.description}}</small>
        </div>
        <span class="text-muted">{{resource.type}}</span>
    </li>
</ul>