<div *ngIf="!resource || !resource?._id; else detailView" class="card">
    <div class="card-body">
        No Resource Selected :)
    </div>
</div>

<ng-template #detailView>
    <div class="card">
        <div class="card-header">{{resource?.title}}</div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{resource?.description}}</p>
                <footer class="text-muted mb-2">{{resource?.type}}</footer>
            </blockquote>
            <div class="mb-2">
                <a [href]="resource?.link" target="_blank">{{resource?.link}}</a>
            </div>
            <a *ngIf="isButtonDisplayed" routerLink="/resources/{{resource?._id}}"
                class="btn btn-outline-primary">详情</a>
        </div>
    </div>
</ng-template>