<div class="row">
    <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">数据</span>
            <span class="badge badge-secondary badge-pill">{{resourcesCount}}</span>
        </h4>
        <app-resource-search (onSearch)="handleSearch($event)"></app-resource-search>
        <app-resource-list [activeId]="activeResource?._id" (onResourceClick)="handleResourceSelect($event)"
            [resources]="resources"></app-resource-list>
    </div>
    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">数据
            <ng-container *ngIf="activeResource?._id">
                <button (click)="toggleView()" [ngClass]="btnViewClass"
                    class="btn  btn-sm">{{isDetailView ? "编辑" : "详情"}}</button>
                <button (click)="deleteResource()" class="btn btn-sm btn-danger ml-2">删除</button>
            </ng-container>
        </h4>
        <app-resource-detail [resource]="activeResource" *ngIf="isDetailView; else updateView"></app-resource-detail>
        <!-- <app-resource-update *ngIf="!isDetailView"></app-resource-update> -->
        <ng-template #updateView>
            <app-resource-form [alert]="alert" [onSubmit]="updateResource" [resource]="activeResource">
            </app-resource-form>
        </ng-template>

    </div>
</div>