<div class="py-5 text-center">
    <img height="150" src="/assets/angular.svg" alt="" />
    <h2>米修在线</h2>
    <p class="lead">以人为镜可明得失,以代码为镜可通逻辑!</p>
    <a routerLink="/resources" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active"
        class="btn btn-outline-primary mr-1">主页</a>
    <a routerLink="/resources/new" routerLinkActive="active" class="btn btn-outline-primary">添加</a>
</div>